* {
    box-sizing: border-box;
}

html {
    font-family: 'Lato', sans-serif;    
    /* the argument to the URL function
        is relative to the stylesheet.
        To access our images directory,
        we needed to use the ../
     */
    /* background-image: url(../images/white-and-black-mountain-wallpaper-933054.jpg); */
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
}

.container {
    display: flex;
    justify-content: space-around;
}

header {
    height: 60px;
    background-color: #333;
    margin-bottom: 12px;
}
* {
    /* color: rgb(0, 0, 0); */
    /* alpha channel controls
       how opaque the color is */
    /* color: rgba(0, 0, 0, 0.4); */
    /* background: red; */
    /* color: #000000; 
    color: #ffffff;
    color: #000; */
}

p {
    color: #5d5d5d;
}

table {
    /* 
    Bruce Lee says: "Be like water"
    In CSS: this means, be as
    wide as your container.
     */
    width: 100%;
    border-spacing: 0;
}

th {
    background-color: #4285f4;
    color: #fff;
}

th, td {
    padding: 8px;
}

.column-1 {
    text-align: left;
}

.column-2 {
    text-align: right;
}


/* This is the descendant selector.
    It refers to an element anywhere inside
    another element.
 */
tr:hover td {
    /* color: white; */
    
    /* font-size: 28px; */
    /* font-size: 2.2em;  */
    /* multiply by the current font size */
}

/* 
:hover is the "pseudo-class"
that refers to an element when
a mouse pointer is overlapping it.
*/
/* tr:hover {
    background-color: #f9f9f9;
} */

/* 
To apply styles to more than one
selector, list the selectors out
separated by commas.
 */
.odd-row, tr:hover {
    background-color: #f9f9f9;
}

.sidebar-heading {
    text-transform: uppercase;
}

a {
    /* display: block; */
    /* 
        This makes the anchor tag
        take up as much horizontal space
        as possible.
     */
}

ul {
    list-style-type: none;
    padding: 0;
}

/* moar pseduo-classes! */
ul a:link,
ul a:visited {
    text-transform: uppercase;
    color: #57ad68;
    text-decoration: none;
}

ul a:hover {
    text-decoration: underline;
}

li {

    /* 1st value is top/bottom, 2nd is left/right */
    padding: 8px 0;    

    /* Different values for four directions */
    /* padding: 10px 0 2px 3px; */
    
    /* Use 10px for all directions */
    /* padding: 10px; */
    
    /* margin: 10px; */
    display: block;
    /* outline: 1px solid red; */
}

.main-content {
    width: 66%;
    outline: 1px solid orange;
}

.sidebar {
    outline: 1px solid red;
    width: 30%;
    max-width: 190px;
}