
html {
    /* the argument to the URL function
        is relative to the stylesheet.
        To access our images directory,
        we needed to use the ../
     */
    /* background-image: url(../images/white-and-black-mountain-wallpaper-933054.jpg); */
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
}

* {
    /* color: rgb(0, 0, 0); */
    /* alpha channel controls
       how opaque the color is */
    /* color: rgba(0, 0, 0, 0.4); */
    /* background: red; */
    /* color: #000000; 
    color: #ffffff;
    color: #000; */
}

p {
    color: #5d5d5d;
}

table {
    /* 
    Bruce Lee says: "Be like water"
    In CSS: this means, be as
    wide as your container.
     */
    width: 100%;
}

th {
    background-color: #4285f4;
    color: #fff;
}

.column-1 {
    text-align: left;
}

.column-2 {
    text-align: right;
}

.odd-row {
    background-color: #f9f9f9;
}